@import url(http://fonts.googleapis.com/css?family=Poppins:wght@300;400;600&display=swap);

:root {
    --main-color: #be426f;
    --dark-color: #1D2231;
    --text-grey: #8390A2;
    --button-width: 70px;
    --button-height: 35px;

}

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: rgb(215, 235, 235);
}
img{
    margin-left: 45%;
    margin-top: 20px;
}


div.container {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin: 2% auto;
    background-color: var(--main-color);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

}

form div.container h2 {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-left: 10%;
    text-decoration: underline;

}

div.form-group {
    width: 100%;
    display: inline-block;
    margin-left: 10%;
    border-left: 2px solid white;
}

div.row {
    padding: 15px 15px 15px 15px;
    margin-left: 22%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.form-group label {

    font-weight: bold;
    font-size: 1.2rem;
    color: white;
}

div.form-group label span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;
}

div.form-group input {
    margin-top: 10px;
    height: 35px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid transparent;

}

select {
    margin-top: 10px;
    height: 35px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid transparent;

}

button.submit {
    width: 20%;
    /* margin-left: 10%; */
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-size: 15px;
    /* font-weight: bold; */
    background-color: rgb(8, 160, 8);
    color: white;
}

button.submit:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}