@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --main-color: #be426f;
  --dark-color: #1D2231;
  --text-grey: #8390A2;
  --background-color: #cfdaeb;
  --button-width: 70px;
  --button-height: 35px;
  --font: 'Poppins', sans-serif;

}


@media screen and (min-width: 968px) { 
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
/* * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    } */

/* body.modal,
    button {
      font-family: var(--body.modal-font);
      font-size: var(--normal-font-size);
    } */

body.modal {
  /* background-color: var(--background-color); */
  color: var(--text-color);
}

/* button {
      cursor: pointer;
      border: none;
      outline: none;
    } */

/* img {
      max-width: 100%;
      height: auto;
    } */

/*=============== MODAL ===============*/
/* .container {
  margin-left: 2rem;
  margin-right: 1rem;
} */

.modal {
  height: 50vh;
  display: grid;
  place-items:center;
  width: 20%;

}

.modal__button {
  display: inline-block;
  background-color:tomato;
  font-family: var(--font);
  color: #FFF;
  /* padding: 1rem 1.25rem; */
  border-radius: .5rem;
  transition: .3s;
  border: transparent;
}

.modal__button:hover {
  background-color: #0a2b3a;
}

.modal__container {
  position: fixed;
  margin-left: 40%;
  /* margin-top: 7%; */
  top: 0;
  left: 0;
  /* background-color: var(--main-color); */
  width: 60%;
  height: 90%;
  display: grid;
  align-items: flex-end;
  overflow-y: hidden;
  transition: all .3s;
  z-index: 1000;
  visibility: hidden;
 
  /* border: 1px solid black; */

}

.modal__content {
  width: 50%;
  position: relative;
  background-color:var(--main-color);
  /* box-shadow: var(--dark-color); */
  box-shadow: 10px 10px 10px 10px;
  text-align: center;
  padding: 3rem 2rem 5rem;
  border-radius: 1rem 1rem 1rem 1rem;
  transition: all .3s;
  transform: translateY(10%);
  margin-bottom:20%;
}

/* .modal__img {
  width: 150px;
  margin-bottom: .75rem;
} */

.modal__close {
  display: inline-flex;
  background-color: tomato;
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

.modal__title {
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
  font-family: var(--font);
}
form#popup{
   margin-left: 0px;
}

.modal__description {
  margin-bottom: 1.5rem;
}

.modal__button-width {
  width: 80%;
  height: 40px;
  /* margin-top: 4.5rem; */
  /* margin-left: -17.5rem; */
  margin-bottom: 1rem;
  font-size: 15px;
}

.modal__button span {
  margin-bottom: 2rem;
}

.modal__button-link {
  display: block;
  margin-bottom: 2rem;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 300;
}

/* Show modal */
.show-modal {
  visibility: visible;
  opacity: 1;
}


.show-modal .modal__content {

  transform: translateY(0);


}

.reg {
  /* padding: 1rem; */
  border-radius: 0.5rem;
  padding: 1rem 1.1rem;
  border: none;
  margin-top: 1rem;
  transition: .3s;
  width: 80%;
  margin-bottom: 1.2rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  box-shadow: #FFA500;
}

.reg:focus {
  border: 0.5px solid #FFA500;
  outline-offset: 0px;
  outline: none;
}

::placeholder {
  color: var(--text-grey);
  font-size: 1rem;
  font-family: var(--font);
  margin-left: 5px;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 576px) {
  .modal__container {
    /* margin-top: 20%; */
    margin-left: 10%;
    width: 80%;
    /* height: 70%; */
    /* border: 2px solid blue; */

  }
  .modal__title {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    font-family: var(--font);
  }

  .modal__content {
    width: 100%;
    height: 300px;
    margin-top: 0%;
    /* margin: 10px 10px 10px 10px; */
    /* width: 300px; */
    border-radius: 1.25rem;
    position: relative;
    background-color: var(--dark-color);
    box-shadow:none;
    text-align: center;
    /* padding: 2rem 1rem 3rem; */
    border-radius: 1rem 1rem 1rem 1rem;
    transition: all .3s;
    transform: translateY(10%);
  }

  /* .modal__img {
    width: 170px;
  } */

  .modal__button-width {
    width: 73%;
    height: 8%;
    margin-left: -34.7rem;
    margin-bottom: 1rem;
    font-size: 15px;
  }

  .modal__button span {
    margin-bottom: 2rem;
  }

  .modal__button-link {
    display: block;
    margin-bottom: 2rem;
    background-color: transparent;
    color: var(--first-color);
    font-weight: 300;
  }
  
.modal__button {
  display: inline-block;
  width: 100%;
  height: 50px;
  margin-top: 10%;
  margin-left:.8rem;
  margin-right: auto;
  background-color: tomato;
  font-family: var(--font);
  color: #FFF;
  padding: 1rem .1rem;
  /* padding: 1rem 1.25rem; */
  border-radius: .5rem;
  transition: .3s;
  border: transparent;
}

.modal__button:hover {
  background-color: #0a2b3a;
}
.modal__close {
  display: inline-flex;
  background-color: tomato;
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

  /* Show modal */
  .show-modal {
    visibility: visible;
    opacity: 1;
  }

  .show-modal .modal__content {
    transform: translateY(0);
  }
  .reg {
    /* padding: 1rem; */
    border-radius: 0.5rem;
    padding: 1rem 1.1rem;
    border: none;
    margin-top: 2rem;
    margin-left: .8rem;
    transition: .3s;
    width: 100%;
    height: 50px;
    margin-bottom: .3rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: #FFA500;
  }
  
  .reg:focus {
    border: 0.5px solid #FFA500;
    outline-offset: 0px;
    outline: none;
  }
  
  ::placeholder {
    color: var(--text-grey);
    font-size: 0.875rem;
    font-family: var(--font);
  }
}